# ======================
# Python
# ======================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Node / Frontend
# ======================
node_modules/
dist/

# ======================
# Environment
# ======================
.env

# ======================
# OS / Editor
# ======================
.DS_Store
.vscode/
.idea/
